* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url(../assets/fonts/gilroy-extrabold.otf);
}

@font-face {
    font-family: "Gilroy-Light";
    src: url(../assets/fonts/gilroy-light.otf);
}

body {
    background-color: white;
}

#navbarNavAltMarkup{
    justify-content: center;
}

.nav-link {
    font-family: "Gilroy-ExtraBold";
    color: black;
    font-size: large;
}

.tittle{
    display: inline-flex;
    font-family: "Gilroy-ExtraBold";
    color: white;
    z-index: 999;
}

.card-title {
    font-family: "Gilroy-ExtraBold";
    color: white;
    z-index: 999;
}

.subtittle {
    font-family: "Gilroy-ExtraBold";
    color: black;
    z-index: 999;
    margin-top: 40px;
}

.subtheme {
    font-family: "Gilroy-ExtraBold";
    color: black;
    z-index: 999;
}

.subtittle-descripcion{
    font-family: "Gilroy-Light";
    color: black;
    z-index: 999;
}

.main-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/iniciobackground.png);
}

.main-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/iniciobackground2.png);
}

.main-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/iniciobackground3.png);
}

@media (min-width: 320px) and (max-width: 444px) {
    .card-title{
        font-size: 55px;
    }
    .tittle {
        font-size: 70px;
    }
    .subtittle {
        font-size: 40px;
    }
    .subtheme {
        font-size: 30px;
    }
    .subtittle-descripcion {
        font-size: medium;
    }
}

@media (min-width: 445px) and (max-width: 1200px) {
    .card-title{
        font-size: 75px;
    }
    .tittle {
        font-size: 85px;
    }
    .subtittle {
        font-size: 60px;
    }
    .subtheme {
        font-size: 50px;
    }
    .subtittle-descripcion {
        font-size: large;
    }
}

@media (min-width: 1200px) {
    .card-title{
        font-size: 70px;
    }
    .tittle {
        font-size: 130px;
    }
    .subtittle {
        font-size: 70px;
    }
    .subtheme {
        font-size: 60px;
    }
    .subtittle-descripcion {
        font-size: xx-large;
    }
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    margin: 10px 0px;
}

.imagen-footer {
    margin-top: 5px;
}

.nav-link:hover {
    color: red;
}

.tokyo-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/tokyoback.jpg);
}

.tokyo-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/tokyoback2.jpg);
}

.tokyo-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/tokyoback3.jpg);
}

.description-text {
    font-family: "Gilroy-Light";
    text-align: justify;
}

.centrar {
    display: flex;
    align-items: center;
}

.bg-section-gray {
    background-color: #F7F7F8;
}

@media (min-width: 425px) and (max-width: 768px) {
    .description-text {
        font-size: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .description-text {
        font-size: 22px;
    }
}

@media (min-width: 1025px){
    .description-text {
        font-size: 18px;
    }
}

.osaka-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/osakaback.jpg);
}

.osaka-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/osakaback2.jpg);
}

.osaka-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/osakaback3.jpg);
}

.kyoto-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/kyotoback.jpg);
}

.kyoto-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/kyotoback2.jpg);
}

.kyoto-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/kyotoback3.jpg);
}

.okinawa-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/okinawaback.jpg);
}

.okinawa-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/okinawaback2.jpg);
}

.okinawa-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/okinawaback3.jpg);
}

.fukuoka-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/fukuokaback.jpg);
}

.fukuoka-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/fukuokaback2.jpg);
}

.fukuoka-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/fukuokaback3.jpg);
}

.kobe-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/kobeback.jpg);
}

.kobe-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/kobeback2.jpg);
}

.kobe-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/kobeback3.jpg);
}

.contacto-bg-1 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/contactoback.jpg);
}

.contacto-bg-2 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/contactoback2.jpg);
}

.contacto-bg-3 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-image: url(../assets/img/contactoback3.jpg);
}